body {
  font-size: 14px;
  color: #5c5c5c;
  background-color: #111111;
  font-family: helvetica, arial, sans-serif;
  margin: 0;
}
a:link, a:visited { color: #3D3D3D  ; text-decoration: underline; }
a:hover, a:focus { text-decoration: none; background: #231F1F; color: #ffffff; }
h1 { margin: 0; }
p { margin: 0.3em 0 .3em 0; }
div#container {
  margin: 0 auto;
  width: 960px;
  padding: 16px;
  overflow: hidden;
  position: relative;
}
div#header { margin: 0 0 10px 0; }
div#footer { margin: 10px 0 10px 0; }

a.chuck-thumb {
  float: left;
  margin: 0 5px 5px 0;
  padding: 0;
}

img { border: 0; }

.color { float: left; height: 20px; width: 4px; cursor: pointer; }
.spectrum { width: 924px; margin: 0 18px 10px 18px; }

.clear { clear: both; }