<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}A colourful tribute to the Chuck Taylor All-Star{% endblock %}</title>
	<link rel="stylesheet" href="/css/chucks.css" type="text/css" media="screen" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  {% block extrajs %}{% endblock %}
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>A colourful tribute to the Chuck Taylor All-Star</h1>
    </div>
    {% block content %}
    {% endblock %}
    <div id="footer">
      Created on <a href="http://code.google.com/appengine/">Google App Engine</a> by
      <a href="http://jdennes.github.com/">James Dennes</a> out of pure fascination and curiosity.
    </div>
  </div>
</body>
</html>
